@custom-variant layout-default (&:where([data-layout-density="default"] *));
@custom-variant layout-compact (&:where([data-layout-density="compact"] *));

:root {
  --editor-track-controls-width: 13rem;
  --editor-audio-track-grid-columns: var(--editor-track-controls-width) minmax(0, 1fr);
  --editor-timeline-track-grid-columns: calc(var(--editor-track-controls-width) - 0.5rem)
    minmax(0, 1fr);
}
