.indeterminate {
  position: absolute;
  inset-block: 0;
  animation: indeterminate-cycle 3s ease-in-out infinite;
}

@keyframes indeterminate-cycle {
  0% {
    left: 0;
    right: 100%;
  }

  25% {
    left: 0;
    right: 0;
  }

  50% {
    left: 100%;
    right: 0;
  }

  75% {
    left: 0;
    right: 0;
  }

  100% {
    left: 0;
    right: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .indeterminate {
    animation: none;
  }
}
