.slider {
  isolation: isolate;
}

.slider [data-slot="slider-track"] {
  z-index: 0;
  height: 0.375rem;
}

.slider [data-slot="slider-range"] {
  z-index: 2;
}

.slider [data-slot="slider-thumb"] {
  z-index: 10;
}
